* {
    box-sizing: content-box;

}

.userHead {
    background: pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userAvatar {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    overflow: hidden;
}

.linkUnderline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#71E8DF, #71E8DF);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}



.linkUnderline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}

.micBtn {
    position: absolute;
    background-color: #212121;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0,  0 , 0 , 0.25);
}