@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 20px
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jersey 25", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialised;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #090A15;

}

.btn:hover {
  background: #0E6B5C;
  transition: all 0.3s ease-in-out;
}

.lightBtn:hover {
  background: #d9d9d978;
  transition: all 0.3s ease-in-out;
  color: #71ffe7;
}